<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
	<Year>$([System.DateTime]::Now.ToString(yyyy))</Year>
	<Month>$([System.DateTime]::Now.ToString(MM))</Month>
	<Date>$([System.DateTime]::Now.ToString(yyyyMMdd))</Date>
    <Configuration>Release</Configuration>
    <Platform>Any CPU</Platform>
	<PublishDir>..\..\Build\$(Date)\Management</PublishDir>
    <PublishProtocol>FileSystem</PublishProtocol>
  </PropertyGroup>
</Project>